@font-face {
  font-family: 'Pokemon Solid';
  src: url('/fonts/Pokemon Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon Hollow';
  src: url('/fonts/Pokemon Hollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: image-set(url('/bg_avif.avif') type('image/avif'),
      url('/bg_jpg.jpg') type('image/jpeg'));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100vw;
  max-height: 100vh;
}

.glass {
  backdrop-filter: blur(1px);
}

.table-row:hover {
  transform: translateY(-2px);
  transition: transform 0.5s;
}

.card {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.45);
}
.card:hover {
   transform: translateY(-12px);
  transition: transform 0.5s;
   backdrop-filter: blur(80px);
}




.MuiTableCell-body {
  padding: 6 !important;
  text-align: center !important;
}